//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background: #eff2f5 !important;
}
#wrapper{
  margin-bottom: 5rem;
}
@media all and (min-width: 1600px ){;
    bs-daterangepicker-container {
      top: 550px !important;
      left: 760px !important;
    }
  }
